.wrapper {
    display: flex;
    flex-direction: row;
}

.navlink {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 5px 0;
}

.icon {
    font-size: 20px;
    padding: 5.5px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 5.5px;
    cursor: pointer;
}

.link:hover {
    background-color: #80b7e3;
    border-radius: 8px;
}
.link:active {
    color: #1a1289 !important;
}




@media (min-width: 720px) {
    .wrapper {
        margin-top: 5px;
    }
    .navlink {
        margin-top: 15px;
        gap: 10px;
    }
    .link {
        font-size: 18px;
    }
    .icon {
    font-size: 24px;
    margin-left: 5px;
}
}
