.container {
    max-width: 600px;
    margin: 20px; 
}

.add {
    position: fixed;
    top: 500px;
    left: auto;
    right: 40px;
}

@media (min-width: 820px) {
    .container {
        margin: 20px auto
    }

 }