.container {
    max-width: 600px;
    margin: 20px; 
}
.title {
    font-weight: bold;
    padding: 10px;
    background-image: linear-gradient(180deg, rgb(158, 201, 234), rgb(29, 79, 108));
}

@media (min-width: 720px) {
    .title {
        font-size: 18px;
        height: 55px;
    }

 }
@media (min-width: 820px) {
    .container {
        margin: 20px auto
    }
 }