.reset {
    background: none;
    border: none;
    border-radius: 0;
    font-weight: 300;
    width: fit-content;
    margin: 20px auto 0;
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(000, 000, 000, 0);
}

.reset:hover {
    border-bottom: 2px solid rgba(3, 38, 84, 0.3) ;
}