*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/bgLight.jpg);
}

body[data-theme = 'light'] {
    background-image: url(../assets/bgLight.jpg);
}

body[data-theme = 'dark'] {
    background-image: url(../assets/bgDark.jpg);
}

.theme-light {
    background-color: rgb(158, 201, 234);
    color: #f5f9fc;
}
.theme-dark {
    background-color: rgb(17, 48, 66);
    color: #ffffffe6;
}

.container {
    width: fit-content;
    height: fit-content;
    min-height: 480px;
    margin: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgba(61, 34, 80, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 150px 50px;
    max-width: 400px;
    font-size: 1.22rem;
    font-weight: bolder;
}

.title {
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.7rem;
}

.ant-menu-item{
    color: #f5f9fc !important;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding-inline: 0px !important;
}
.ant-menu-title-content{
    padding: 5px;
    vertical-align: middle;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min-content;
    max-width: 170px;
    background-color: #86b3d8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 5;
}

.is_visible {
    text-decoration: none;
    background: none;
    border: none;
    position: absolute;
    width: fit-content;
    left: auto;
    right: 0px;
}

.ant-layout-sider {
    max-width: max-content !important;
    min-width: min-content !important;
    width: fit-content !important;
}

.ant-layout-sider-children {
    width: fit-content !important;
}

.ant-menu-item::after {
    inset-inline: 4px !important;
}


@media (min-width: 500px) {
    .form {
        margin: 150px auto 0;
    }

}

@media (min-width: 720px) {
    header {
        height: 100px;
    }
    .ant-menu-item{
        font-size: 23px;
        height: 60px;
        line-height: 60px;
        padding-inline: 6px !important;
    }
    aside {
        max-width: 200px;
    }
}