.header {
    height: 50px;
    margin: 20px 20px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.header_menu {
    background: none;
    height: 100%;
    border: none;
    justify-content: center;
    align-items: center;
}


.img {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 6px;
    left: auto;
    right: 2px;
}

.logo {
    display: none;
    position: absolute;
    top: 10px;
}

.menu {
    position: absolute;
    left: 5px;
    height: fit-content;
}


@media (min-width: 720px) {
    .header {
        height: 100px;
    }

    .header_menu {
        margin-left: 45px;
    }

    .link {
        font-size: 20px;
    }

    .logo {
        display: block;
    }

    .title {
        z-index: 5;
        margin-top: 51px;
        margin-left: -27px;
        font-weight: bold;
        font-size: 12px;
        line-height: normal;
    }

    .img {
        width: 80px;
        height: 80px;
        top: 6px;
        left: 5px;
    }

    .budget {
        color: aliceblue;
        background: none;
    }

    .p {
        font-size: 11px;
        margin-left: -26px;
        line-height: normal;
    }

    .menu {
        display: none;
    }
    
}



