
.sign_out {
    margin: 10px 0 10px 15px;
    display: flex;
    cursor: pointer;
}

.account {
    position: relative;
    margin-left: 10px;
    bottom: 5px;
    font-size: 14px;
}

.account > p {
    font-size: 1rem;
    margin: 0;
    
}
 
 
@media (min-width: 720px) {
    .sign_out {
        margin-left: 22px;
    }
    .span {
        font-size: 16px;
        font-weight: 300;
    }
    .account {
        margin-left: 14px;
    }
 }