
.sign_out {
    margin-left: 6px;
    display: flex;
    cursor: pointer;
}

.account {
    position: relative;
    margin-left: 10px;
    bottom: 3px;
    font-size: 14px;
}

.account > p {
    font-size: 1rem;
    margin: 0;
    
}
 
 
@media (min-width: 720px) {
    .span {
        font-size: 16px;
        font-weight: 300;
    }
 }